<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <app-text-input (usernameChange)="receiveUsername($event)"></app-text-input>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Inspect</button>

  <div *ngIf="hasSubmitted">
    <div *ngIf="userData; else showError">
      <app-display-user [userData]="userData"></app-display-user>
    </div>
    <ng-template #showError>
      <p *ngIf="errorMessage">{{ errorMessage }}</p> <!-- Display the custom error message -->
    </ng-template>
</div>
</div>
